<div marginwidth="0" marginheight="0" bgcolor="#eceff1" style="margin:0;padding:0;background-color:#eceff1">


    <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#eceff1"
           style="border-collapse:collapse">
        <tbody>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#ffffff" border="0" width="80%" cellpadding="0" cellspacing="0" align="center"
                       style="width:600px;margin:auto;background-color:#ffffff"
                       >
                    <tbody>
                    <tr>
                        <td bgcolor="#363b4d">
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                                   bgcolor="#363b4d" dir="ltr">
                                <tbody>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <tr>
                                    <td width="100%" valign="middle" align="center" valign="middle">
                                        <a href="http://www.compraventasalta.com.ar" target="_blank"><img src="cid:logo_compraventasalta_mail@compraventasalta.com.ar"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center" style="text-align:center"><font size="6"><strong
                                style="font-size:32px!important;font-family:Arial,sans-serif;color:#00BDD6"> Hola {{userTo.username}}!</strong></font></td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" width="80%" cellpadding="0" cellspacing="0" align="center">
                                <tbody>
                                <tr>
                                    <td style="text-align:left"><font size="3"
                                                                        style="font-size:16px!important;font-family:Arial,sans-serif;color:#4a4a4a">
                                        <p>Tu aviso "{{ad.title}}" ha expirado y ya no se encuentra visible. Podés volver a publicarlo y posicionarte entre los primeros lugares!</p>
                                            <br>
                                            <p style="text-align: left">Para re-publicarlo hacé clic en REPUBLICAR AVISO</p>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0" width="90%"
                                               class="m_-2709806135204549922emailButton"
                                               style="border-radius:3px;background-color:#00BDD6" align="center">
                                            <tbody>
                                            <tr>
                                                <td align="center" valign="middle"
                                                    style="padding-top:12px;padding-bottom:12px;text-align:center"><a
                                                        href="{{urlRepublish}}"
                                                        style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:17px;text-decoration:none"
                                                        target="_blank"
                                                        >&nbsp;&nbsp;REPUBLICAR AVISO&nbsp;&nbsp;</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" width="600" cellpadding="0" cellspacing="0" align="center"
                       style="width:600px;margin:auto">
                    <tbody>
                    <tr>
                        <td>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="text-align:center;color:#777777;font-family:Arial,sans-serif;font-size:13px!important">
                                        Por favor no respondas a este correo.
                                        <br> Si tienes alguna pregunta, encuentra la información
                                        <br> en nuestra <a
                                            href=""
                                            style="color:#777777;text-decoration:underline" target="_blank"
                                            >página de ayuda</a> o <a
                                            href="#"
                                            style="color:#777777;text-decoration:underline" target="_blank">contactános</a>.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        </tbody>
    </table>
</div>
